
@media screen and (min-width: 415px) {
	.book p {
		width: 60%;
		font-size: 1em;
	}
}

@media screen and (min-width: 540px) {
	.book p {
		width: 65%;
	}
}

@media screen and (min-width: 640px) {
	.book p {
		width: 72%;
	}
}

@media screen and (min-width: 800px) {

	header {
		background-color: #88D8B0;
		height: 110px;
		border-bottom: 5px solid #ffcc5c;
		box-shadow-bottom: none;
    	-moz-box-shadow: none;
    	-webkit-box-shadow: none;
	}

	header h1 {
		padding: 15px 0 11px 15px;
		font-size: 4em;
	}

	.mobileMenuIcon {
		visibility: hidden;
	}

	.logIn {
		right: 132px;
		bottom: 60px;
		/*border-right: 2px solid;*/
		margin-right: 23px;
	}

	.signUp {
		right: 20px;
		bottom: 60px;
	}

	header p {
		right: 130px;
		bottom: 60px;
		margin:0;
	}

	.logIn,
	.signUp,
	header p {
		visibility: visible;
		text-decoration: none;
		font-family: 'Quicksand', sans-serif;
		position: absolute;
		color: #fff;
		font-size: 1.4em;
	}

	.logIn:hover,
	.signUp:hover {
		text-decoration: underline;
	}

	.topNav {
		margin: 0 auto 5px;
		height: 40px;
		font-size: 0;	 /* to remove space between achors */
		text-align: center;
		background-color: #ff6f69;
		box-shadow-bottom: 0px 2px 4px #242424;
	    -moz-box-shadow: 0px 2px 4px #242424;
	    -webkit-box-shadow: 0px 2px 4px #242424;
	}

	.topNav a {
		visibility: visible;
		display: inline-block;
		width: 130px;
		padding: 9px 12px 13px;
		text-decoration: none;
		height: 18px;
		font-size: 20px;
		font-family: 'Maven Pro', sans-serif;
		color: #fff;
		border-left: 1px solid #000;
		transition: background-color 0.5s;
	}

	.lastTopNav {
		border-right: 1px solid #000;
	}

	.selected {
		background-color: #FF928D;
	}

	.topNav a:hover {
		background-color: #FF928D;
		transition: 0.5s;
	}

	#toRead,
	#booksRead {
		margin-top: 100px;
	}

	.book p {
		width: 77%;
		font-size: 1.1em;
	}

	.doneReadingIcon img {
	  width: 24px;
	  height: 30px; 
	}

	.readIcon img {
		width: 30px;
		height: 30px;
	}

	.removeIcon img {
		width: 30px;
		height: 30px;
	}

}


@media screen and (min-width: 1025px) {

	/*-----------------------
	BOOK LISTS
	------------------------*/

	#toRead,
	#booksRead {
		width: 45%;
		margin-top: 100px;
	}

	#toRead {
		float: left;
		padding: 0 0 0 3%;
	}

	#booksRead {
		float: right;
		padding: 0 3% 0 0;
	}

	.bookToRead,
	.listHeader {
		max-width: none;
	}

	.book p {
		width: 65%;
	}


	#addTitleBox {
		margin: 150px auto 0;
	}

} 

@media screen and (min-width: 1500px) {
	.book p {
		width: 75%;
	}
} 