/*-----------------------
	BASIC STYLES
------------------------*/


body {
	margin: 0;
	background-color: #fff5ce;
	font-size: 1em;
}

.noScroll {
	overflow: hidden;
}

header {
	width: 100%;
	height: 68px;
	position: relative;
	background-color: #ff6f69;
	box-shadow-bottom: 0px 2px 4px #242424;
    -moz-box-shadow: 0px 2px 4px #242424;
    -webkit-box-shadow: 0px 2px 4px #242424;
}

header h1 {
	width: 95%;
	height: 51px;
	margin: 0;
	padding: 5px 0 11px 15px;
	font-size: 2.8125em;
	font-family: 'Quicksand', cursive;
}

.mobileMenuIcon {
	background-color: #ff6f69;
	position: absolute;
	height: 50px;
	right: 20px;
	top: 12px;
	margin: 0;
	padding: 0;
	border: none;
}

.mobileMenuIcon img {
	width: 46px;
	height: 50px;
}

#mobileNav {
	margin:0;
	height: 100%;
	width: 300px;
	background-color: #1C1C1C;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	-moz-animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
}

#mobileNav #firstMobileNav {
	border: none;
}

#mobileNav #lastMobileNav {
	border-bottom: 1px solid #6B6B6B;
}

#mobileNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#mobileNav a {
	display: block;
	height: 100%;
	margin: 0;
	padding: 13px 0;
	font-size: 2em;
	font-family: 'Quicksand', sans-serif;
	color: #DADADA;
	text-decoration: none;
}

#mobileNav li {
	margin: 0;
	border-top: 1px solid #6B6B6B;
	transition: background-color 0.5s;
}

#mobileNav li:hover {
	background-color: #A0A0A0;
	transition: 0.5s;
}

.mobileSelected {
	background-color: #A0A0A0;
}

header a {
	visibility: hidden;
}

.topNav a {
	visibility: hidden;
}

/*-----------------------
	BOOK LISTS
------------------------*/

#toRead,
#booksRead {
	width: 93%;
	margin: 60px auto 0;
	padding: 0;
	list-style-type: none;
}

#booksRead li {
	opacity: 0.75;
}

#booksRead .listHeader {
	opacity: 1;
}

.listHeader {
	background-color: #bdbdbd; 	/* <li>s below header can be #e5e5e5 */
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #a3a3a3;
	border-left: 1px solid #a3a3a3;
	border-right: 1px solid #a3a3a3;
	box-shadow-bottom: 0px 1px 3px #242424;
	-moz-box-shadow: 0px 1px 3px #242424;
    -webkit-box-shadow: 0px 1px 3px #242424;
}

.listHeader p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.1em;
	margin-top: 15px;
	margin-bottom: 0;
	padding-left: 15px;
	position: relative;
}

.listHeader a:hover {
	cursor: pointer;
}

.listHeader button {
	margin: 0 auto;
	position: absolute;
	right: 18px;
	top: -4px;
	cursor: pointer;
}

ul li:nth-child(2) {
	margin: 2px auto 0;
	border: none;
	position: relative;
}

.empty {
	text-align: center;
	color: rgba(0,0,0,0.5);
}

.book,
.empty {
	padding: 2px 0 1px;
	background-color: #e5e5e5;
	border-top: 1px solid #bdbdbd;
	position: relative;
	overflow: hidden;
}

.book p,
.empty p {
	display: inline-block;
	width: 55%;
	font-family: 'Maven Pro', sans-serif;
	padding: 7px 0 7px 15px;
}

.empty p {
	margin: 10px 0;
	font-size: 1.1em;
}

.book p {
	margin: 0 0 0 50px;
	font-size: 0.9em;
}

.readIcon, .doneReadingIcon {
	position: absolute;
	right: 8px;
	bottom: 15px;
	background-color: #bdbdbd;
	border-style: none;
	border-radius: 3px;
}

.inListCover {
  margin: 0 10px 0 2px;
  height: 100%;
  width: 50px;
  position: absolute;
  left:0;
}

.readIcon img {
	width: 26px;
	height: 26px;
	padding-top: 4px;
}

.doneReadingIcon img {
  width: 20px;
  height: 25px;
  padding-top: 4px;
}

.removeIcon {
	position: absolute;
	right: 50px;
	bottom: 15px;
	border-style: none;
	background-color: #e5e5e5;
}

.removeIcon img {
	width: 26px;
	height: 26px;
	margin-bottom: 1px;
}

.doneReadingIcon:focus,.readIcon:focus {
	background-color: #fff;
	outline: 0;
}

.removeIcon:focus {
	background-color: #fff;
	outline: 0;
}


/*-----------------------
	FOOTER
------------------------*/

/*footer {*/
/*	width: 100%;*/
/*	height: 12px;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	background-color: #ffcc5c;*/
/*	border-top: 5px solid #ff6f69;*/
/*	border-bottom: 20px solid #88d8b0;*/
/*}*/

footer {
  margin: 150px 0 0;
}


/*-----------------------
	'ADD TITLE' OVERLAY
------------------------*/
.overlay {
  background: rgba(0,0,0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  text-align: center;
}

#addTitleBox {
	background-color: #fff;
	width: 35%;
	height: 375px;
	max-width: 345px;
	min-width: 290px;
	margin: 100px auto 0;
	border-radius: 10px;
	font-family: 'Maven Pro' sans-serif;
}

#addTitleBox h1 {
	padding-top: 50px;
	margin-bottom: 50px;
}

#addTitleBox input, label {
	display: block;
	margin-left: 25%;
	text-align: left;
}

#addTitleBox input {
	width: 50%;
	margin: 10px 0 20px 25%;
}

/* add button */
.add {
	display: block;
	margin-left: 25%;
}

/*-----------------------
	SINGLE LIST OVERLAY
------------------------*/

#foreground .overlay ul {
	width: 90%;
	margin: 120px auto 0;
	padding: 0;
  	float: none;
  	max-width: 830px;
}

/*-----------------------
	COVERS OVERLAY
------------------------*/

#covers {
	text-align: center;
}

#coverWrapper {
	width: 100%;
	height: 100%;
	padding: 100px 0 0;
	overflow-y: auto;
}

#coverWrapper button {
	display: inline-block;
	margin: 30px 30px;
	padding: 0;
	border: none;
	cursor: pointer;
}

#covers img {
	width: 128px;
	height: 196px;
}

#covers #noCover {
	display: block;
	margin: 40px auto 100px;
	width: 120px;
	height: 45px;
	font-size: 1.2em;
	font-family: 'Maven Pro', sans-serif;
	border-radius: 8px;
}