
/* basic styles */

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ffeead;
	margin: 0;
	font-size: 1em;
}

header {
	background-color: #88D8B0;
	width: 100%;
	height: 68px;
	position: relative;
	background-color: #ff6f69;
	box-shadow-bottom: 0px 2px 4px #242424;
    -moz-box-shadow: 0px 2px 4px #242424;
    -webkit-box-shadow: 0px 2px 4px #242424;
}

header h1 {
	width: 95%;
	height: 51px;
	margin: 0;
	padding: 5px 0 11px 15px;
	font-size: 2.8125em;
	font-family: 'Quicksand', sans-serif;
}

.mobileMenuIcon {
	background-color: #ff6f69;
	position: absolute;
	height: 50px;
	right: 20px;
	top: 12px;
	margin: 0;
	padding: 0;
	border: none;
}

.mobileMenuIcon img {
	width: 46px;
	height: 50px;
}

#mobileNav {
	margin:0;
	height: 100%;
	width: 300px;
	background-color: #7A7A7A;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	-moz-animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
}

header a {
	visibility: hidden;
}

.topNav a {
	visibility: hidden;
}

/*-----------------------
	BOOK LISTS
------------------------*/

#toRead,
#booksRead {
	width: 85%;
	margin: 60px auto 0;
	padding: 0;
	list-style-type: none;
}

.listHeader {
	background-color: #bdbdbd; 	/* <li>s below header can be #e5e5e5 */
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #a3a3a3;
	border-left: 1px solid #a3a3a3;
	border-right: 1px solid #a3a3a3;
	box-shadow-bottom: 0px 1px 3px #242424;
	-moz-box-shadow: 0px 1px 3px #242424;
    -webkit-box-shadow: 0px 1px 3px #242424;
}

.listHeader p {
	font-family: 'Quicksand';
	font-size: 1.1em;
	margin-top: 15px;
	margin-bottom: 0;
	padding-left: 15px;
	position: relative;
}

.listHeader button {
	margin: 0 auto;
	position: absolute;
	right: 18px;
	top: -4px;
}

ul li:nth-child(2) {
	margin: 2px auto 0;
	border: none;
	position: relative;
}

.empty {
	text-align: center;
	color: rgba(0,0,0,0.5);
}

.book,
.empty {
	padding-top: 4px;
	background-color: #e5e5e5;
	border-top: 1px solid #bdbdbd;
	position: relative;
}

.book p,
.empty p {
	font-family: 'Maven Pro';
	font-size: .85em;
	margin: 0;
	padding: 10px 0 10px 15px;
	position: relative;
}

.readIcon, .doneReadingIcon {
	position: absolute;
	right: 11px;
	bottom: 5px;
	background-color: #bdbdbd;
	border-style: none;
	border-radius: 3px;
}

.readIcon img {
	width:20px;
	height: 20px;
	padding-top: 4px;
}

.doneReadingIcon img {
  width: 17px;
  height: 22px;
  padding-top: 4px;
}

.removeIcon {
	position: absolute;
	right: 50px;
	bottom: 5px;
	border-style: none;
	
}

.removeIcon img {
	width:20px;
	height: 20px;
	margin-bottom: 1px;
}

.doneReadingIcon:focus,.readIcon:focus {
	background-color: #fff;
	outline: 0;
}

.removeIcon:focus {
	background-color: #fff;
	outline: 0;
}


/*-----------------------
	FOOTER
------------------------*/

footer {
	width: 100%;
	height: 12px;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: #ffcc5c;
	border-top: 5px solid #ff6f69;
	border-bottom: 20px solid #88d8b0;
}


/*-----------------------
	'ADD TITLE' OVERLAY 
------------------------*/
.overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#addTitleBox {
	background-color: #fff;
	width: 35%;
	height: 375px;
	max-width: 345px;
	margin: 7% auto 0;
	border-radius: 10px;
	font-family: 'Maven Pro';
}

#addTitleBox h1 {
	padding-top: 50px;
	margin-bottom: 50px;
}

#addTitleBox input, label {
	display: block;
	margin-left: 25%;
	text-align: left;
}

#addTitleBox input {
	width: 50%;
	margin: 10px 0 20px 25%;
}

/* add button */
.add {
	display: block;
	margin-left: 25%;
}

/*-----------------------
	SINGLE LIST OVERLAY
------------------------*/

#foreground .overlay ul {
	width: 90%;
	margin: 120px auto 0;
	padding: 0;
  	float: none;
  	max-width: 830px;
}

/*#searchBar {
	display: block;
	width: 225px;
	margin: 30px auto 0;
}*/

/*#foreground {
	width: 80%;
	height: 100%;
	max-width: 1150px;
	margin: 0 auto;
	background-color: #fff;
	z-index: 1;
}*/