/*-----------------------
	BASIC STYLES
------------------------*/


body {
	font-size: 1em;
}

.noScroll {
	overflow: hidden;
}

header {
	width: 100%;
	height: 68px;
	position: relative;
	
}

.mainHeaderImg {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	width: 75px;
	height: 75px;
}

header h1 {
	width: 35%;
	height: 51px;
	margin: 0 0 0 80px;
	padding: 15px 0 11px 15px;
	font-size: 3.5em;
	font-family: 'Reenie Beanie', cursive;
}

.mobileMenuIcon {
	position: absolute;
	height: 35px;
	right: 10px;
	top: 20px;
	margin: 0;
	padding: 0;
	border: none;
}

.mobileMenuIcon img {
	background-color: #fff;
	height: 35px;
}

#mobileNav {
	margin:0;
	height: 100%;
	width: 260px;
	background-color: #1C1C1C;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	overflow-y: auto;
	-moz-animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
}

#mobileNav #firstMobileNav {
	border: none;
}

#mobileNav #lastMobileNav {
	border-bottom: 1px solid #6B6B6B;
}

#mobileNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#mobileNav a {
	display: block;
	height: 100%;
	margin: 0;
	padding: 13px 0;
	font-size: 1.7em;
	font-family: 'Indie Flower', sans-serif;
	color: #DADADA;
	text-decoration: none;
}

#mobileNav li {
	margin: 0;
	border-top: 1px solid #6B6B6B;
	transition: background-color 0.5s;
}

#mobileNav li:hover {
	background-color: #A0A0A0;
	transition: 0.5s;
}

.mobileSelected {
	background-color: #A0A0A0;
}

header a {
	visibility: hidden;
}

.topNav a {
	visibility: hidden;
}

#topDivider {
	width: 100%;
}

/*-----------------------
	BOOK LISTS
------------------------*/

#toRead,
#booksRead {
	width: 93%;
	padding: 0;
	list-style-type: none;
}

#toRead {
	margin: 100px auto 0;
}

#booksRead {
	margin: 75px auto 0;
}

#booksRead .listHeader {
	opacity: 1;
}

#booksRead li {
	opacity: 0.75;
}

.listHeader p {
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
	font-size: 2.5em;
	margin-top: 15px;
	margin-bottom: 0;
	padding-left: 15px;
}

.headerLine {
	width: 100%;
}

.listHeader a:hover {
	cursor: pointer;
}

#addTitle {
	margin: 20px 0 0 30px;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

#addTitle img {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	transition: background-color 0.5s;
}

#addTitle img:hover {
	background-color: lightgrey;
	transition: background-color 0.75s;
}

ul li:nth-child(2) {
	border: none;
	position: relative;
}

.empty {
	text-align: center;
	color: rgba(0,0,0,0.5);
}

.book,
.empty {
	margin-bottom: 15px;
	padding: 5px 0;
	border-top: 1px dashed #bdbdbd;
	position: relative;
}

.inListCover {
  margin: 0 10px 0 12px;
  height: 100%;
  width: 50px;
  position: absolute;
  left:0;
  -moz-box-shadow: 3px 3px 10px #888;
  -webkit-box-shadow: 3px 3px 10px #888;
  box-shadow: 3px 3px 10px #888;
}

.book p,
.empty p {
	display: inline-block;
	width: 55%;
	font-family: 'Maven Pro', sans-serif;
	padding: 7px 0 7px 25px;
}

.empty p {
	margin: 10px 0;
	font-size: 1.1em;
}

.book p {
	margin: 0 0 0 50px;
	font-size: 0.9em;
}

.readIcon, .doneReadingIcon {
	background-color: #fff;
	position: absolute;
	bottom: 31px;
	border-style: none;
	border-radius: 3px;
}

.readIcon {
	right: 10px;
}

.doneReadingIcon {
	right: 13px;
}

.removeIcon {
	background-color: #fff;
	position: absolute;
	right: 10px;
	bottom: -11px;
	border-style: none;
}

.readIcon img {
	
	width: 26px;
	height: 26px;
	padding-top: 4px;
}

.doneReadingIcon img {
	background-color: #fff;
	width: 20px;
	height: 25px;
	padding-top: 4px;
}

.removeIcon img {
	width: 26px;
	height: 26px;
	margin-bottom: 1px;
}

.doneReadingIcon:focus,.readIcon:focus {
	background-color: #fff;
	outline: 0;
}

.removeIcon:focus {
	background-color: #fff;
	outline: 0;
}

.listBottomBorder {
	margin: auto;
	width: 95%;
	height: 20px;
	-moz-box-shadow: 0 10px 5px -3px #888;
  	-webkit-box-shadow: 0 10px 5px -3px #888;
  	box-shadow: 0 5px 3px -3px #c1c1c1;
}


/*-----------------------
	FOOTER
------------------------*/

footer {
  height: 150px;
}


/*-----------------------
	'ADD TITLE' OVERLAY
------------------------*/
.overlay {
  background: rgba(0,0,0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
  text-align: center;
}

#firstOverlay {
	overflow-y: auto;
}

#addTitleBox {
	background-color: #fff;
	width: 35%;
	height: 375px;
	max-width: 345px;
	min-width: 290px;
	margin: 100px auto 0;
	border-radius: 10px;
	font-family: 'Maven Pro' sans-serif;
}

#addTitleBox h1 {
	padding-top: 50px;
	margin-bottom: 50px;
}

#addTitleBox input, label {
	display: block;
	margin-left: 25%;
	text-align: left;
}

#addTitleBox input {
	width: 50%;
	margin: 10px 0 20px 25%;
}

/* add button */
.add {
	display: block;
	margin-left: 25%;
}

/*-----------------------
	SINGLE LIST OVERLAY
------------------------*/

#foreground .overlay ul {
	width: 90%;
	margin: 120px auto 0;
	padding: 0;
  	float: none;
  	max-width: 830px;
}

/*-----------------------
	COVERS OVERLAY
------------------------*/

#covers {
	text-align: center;
}

#coverWrapper {
	width: 100%;
	height: 100%;
	padding: 100px 0 0;
	overflow-y: auto;
}

#coverWrapper button {
	display: inline-block;
	margin: 30px 30px;
	padding: 0;
	border: none;
	cursor: pointer;
}

#covers img {
	width: 128px;
	height: 196px;
}

#covers #noCover {
	display: block;
	margin: 40px auto 100px;
	width: 120px;
	height: 45px;
	font-size: 1.2em;
	font-family: 'Maven Pro', sans-serif;
	border-radius: 8px;
}